In [2]:
# 3 - Feature Engineering

# Import necessary libraries
import pandas as pd

# Read csv
df = pd.read_csv("/Users/thomassimmons/c/td/data/dirty_cafe_sales_cleaned.csv")

In [ ]:
# Check data types
df.dtypes

Unnamed: 0            int64
Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit      float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
Month                object
dtype: object

In [9]:
# Convert month to datetime
df['Month'] = pd.to_datetime(df['Month'])

# Create new year column
df['Month_num'] = df['Month'].dt.month
df['Year'] = df['Month'].dt.year