In [1]:
# 6 - SQL analysis

# Import libraries
import pandas as pd
import sqlite3

df = pd.read_csv("/Users/thomassimmons/c/td/data/dirty_cafe_sales_cleaned.csv")

In [2]:
# Create an in-memory SQL db
conn = sqlite3.connect(":memory:")

In [3]:
# Load data
df.to_sql("sales", conn, index=False, if_exists='replace')

3089

In [4]:
# Create a cursor
cursor = conn.cursor()

In [5]:
# 1. Total revenue
query1 = "SELECT SUM([Total Spent]) AS total_revenue FROM sales"
print("Total Revenue:", pd.read_sql(query1, conn))

Total Revenue:    total_revenue
0        27605.5

In [6]:
# 2. Top 5 best-selling items
query2 = """
SELECT Item, SUM(Quantity) AS total_sold
FROM sales
GROUP BY Item
ORDER BY total_sold DESC
LIMIT 5
"""
print("\nTop 5 Best-Selling Items:\n", pd.read_sql(query2, conn))

Top 5 Best-Selling Items:
        Item  total_sold
0     Salad      1272.0
1     Juice      1245.0
2  Sandwich      1193.0
3      Cake      1173.0
4    Cookie      1163.0

In [8]:
# 3. Monthly revenue
query3 = """
SELECT Month, SUM([Total Spent]) AS monthly_revenue
FROM sales
GROUP BY Month
ORDER BY Month
"""
print("\nMonthly Revenue:\n", pd.read_sql(query3, conn))

Monthly Revenue:
       Month  monthly_revenue
0   2023-01           2749.0
1   2023-02           2219.5
2   2023-03           2240.0
3   2023-04           2275.5
4   2023-05           1844.5
5   2023-06           2281.5
6   2023-07           2307.0
7   2023-08           2328.5
8   2023-09           2426.5
9   2023-10           2309.5
10  2023-11           2397.0
11  2023-12           2227.0

In [9]:
# 4. Revenue by location
query4 = """
SELECT Location, SUM([Total Spent]) AS revenue
FROM sales
GROUP BY Location
ORDER BY revenue DESC
"""
print("\nRevenue by Location:\n", pd.read_sql(query4, conn))

Revenue by Location:
    Location  revenue
0  In-store  14110.5
1  Takeaway  13495.0

In [10]:
# 5. Payment method usage
query5 = """
SELECT [Payment Method], COUNT(*) AS uses
FROM sales
GROUP BY [Payment Method]
ORDER BY uses DESC
"""
print("\nPayment Method Usage:\n", pd.read_sql(query5, conn))

Payment Method Usage:
    Payment Method  uses
0  Digital Wallet  1069
1            Cash  1018
2     Credit Card  1002

In [11]:
# Close the connection
conn.close()